.image-modal {
  :global(.ant-modal-content) {
    background: transparent;
    height: 600px;
    padding: 0;
    :global(.ant-modal-body) {
      height: 100%;
      // > img {
      //   width: 100%;
      //   height: 100%;
      // }
    }
  }
}
