.emoji {
  :global(.ant-popover-content .ant-popover-arrow) {
    display: none;
  }
  :global(.ant-popover-inner) {
    padding: 0;
    .emoji-span {
      font-size: 16px;
      padding: 2px 4px;
      &:hover {
        background: #ebe8e8;
      }
    }
  }
}
